@charset "utf-8";
/* ヘッダー */

.first_header {
  height: 100vh;
  position: relative;
}
.second_header {
  height: 10vh;
  position: relative;
}
.first_view {
  position: relative;
  max-width: 850px;
  width: 80%;
  height: 500px;
  z-index: 1;
  margin-left: auto;
}
.first_view01 {
  width: 100%;
}
.first_view02 {
  position: absolute;
  top: 25%;
  right: 7%;
  width: 45%;
}
.first_view03 {
  position: absolute;
  top: 30%;
  left: 0;
  width: 17%;
}
.header_container {
  position: absolute;
  z-index: 100;
}
.header_box01 {
  background-color: #fcfaf5;
  text-align: start;
  width: 804px;
  height: 77px;
  border-radius: 0 20px 20px 0;
  margin-bottom: 23px;
}
.header_box02 {
  background-color: #fcfaf5;
  width: 864px;
  height: 77px;
  border-radius: 0 20px 20px 0;
}
.header_box01 p,
.header_box02 p {
  font-family: ta-oonishi, sans-serif;
  font-size: 51px;
  letter-spacing: 0.1em;
  padding-left: 70px;
  padding-top: 12px;
}
.header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5% 0 5%;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  padding-top: 50px;
}
.header_logo {
  width: 174px;
  cursor: pointer;
}
/* メニューボタン */
.menu_btn {
  cursor: pointer;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: center;
}
.menu_btn p {
  font-size: 14px;
}
.menu_btn div {
  width: 30px;
}
.menu_btn span {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #705d53;
  position: relative;
  top: 0;
  transition: 0.3s;
}
.menu_btn span::before,
.menu_btn span::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #705d53;
  position: absolute;
  transition: 0.3s;
}
.menu_btn span::before {
  left: 13px;
}
.menu_btn span::after {
  left: 26px;
}
.menu_btn.open span,
.menu_btn.open span::before {
  background-color: transparent;
}
/* メニューの見た目 */
.menu_nav {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f3ecd8;
}
.menu_nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  height: 100%;
}
.menu_nav ul li {
  font-size: 40px;
  font-family: futura-pt, sans-serif;
  font-weight: bold;
}
.menu_nav {
  display: none;
}
/*=== 9-1-2 丸が動いてスクロールを促す ====*/
/*スクロールダウン全体の場所*/
.scrolldown1 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  bottom: 10px;
  right: 2%;
}
/*Scrollテキストの描写*/
.scrolldown1 span {
  /*描画位置*/
  position: absolute;
  left: 10px;
  bottom: 10px;
  /*テキストの形状*/
  color: #705d53;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
/* 丸の描写 */
.scrolldown1:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: -4px;
  /*丸の形状*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #705d53;
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
  animation: circlemove 1.6s ease-in-out infinite,
    cirlemovehide 1.6s ease-out infinite;
}
/* 線の描写 */
.scrolldown1:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: 0;
  /*線の形状*/
  width: 2px;
  height: 50px;
  background: #705d53;
}
/* アバウト */
#about {
  background: #f3ecd8;
  margin: 0 auto;
  margin-top: 35px;
  width: 100%;
  position: relative;
  padding-top: 30px;
  padding-bottom: 10px;
}
.about_line01 {
  position: absolute;
  top: -20px;
}
/* タイトル */
.title {
  text-align: center;
  margin: 127px 0 45px;
}
.title h2 {
  font-family: futura-pt, sans-serif;
  font-weight: bold;
  font-size: 35px;
  padding-bottom: 7px;
}
.title p {
  padding-bottom: 5px;
}
/* 飾り文字 */
.about_decoration,
.skill_decoration,
.works_decoration,
.contact_decoration {
  position: absolute;
  width: 8%;
  left: 10px;
}
.about_decoration {
  bottom: 95px;
}
.about_content {
  display: flex;
  margin-bottom: 130px;
}
.about_line02 {
  position: absolute;
  bottom: -20px;
}
/* アバウトボタン ワークスボタン */
.about_btn,
.works_btn {
  position: relative;
  margin-left: auto;
  margin-top: 65px;
  width: 315px;
}
.about_btn a,
.works_btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 315px;
  height: 60px;
  transition: 0.3s ease-in-out;
  background: #f7f3e9;
  border-radius: 60px;
  border: 1px solid #c7b299;
  /* ボタンの影 */
  box-shadow: 2px 4px #c7b299;
}
.about_btn img,
.works_btn img {
  width: 16px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.about_btn:hover,
.works_btn:hover {
  transform: translate3d(0.2rem, 0.2rem, 0);
  box-shadow: none;
  opacity: 1;
  transition: all 0.2s;
}
.about_btn:hover a {
  box-shadow: none;
}
.about_btn img:hover,
.works_btn img:hover {
  left: 200px;
}
.about_left01 {
  width: 57%;
  padding-left: 14%;
}
.about_left01 p {
  line-height: 2.25;
  letter-spacing: 0.05em;
  text-align: start;
}
.about_left02 {
  font-size: 14px;
  line-height: 1.85;
  width: 42%;
  padding-left: 13%;
}
.dot_line {
  /* background-image: linear-gradient(to right, #705d53 2px, transparent 2px); */
  background-image: radial-gradient(circle, #705d53 30%, transparent 31%);
  background-size: 12px 2px;
  background-repeat: repeat-x;
  background-position: left bottom 3px;
  padding-bottom: 3px;
}
.about_right01 {
  position: relative;
  width: 34%;
  padding: 0 7% 0 5%;
}
.about_right02 {
  position: relative;
  width: 33%;
  padding: 0 10% 0 2%;
}
.about_right02 p {
  position: absolute;
  font-family: ta-oonishi, sans-serif;
  font-size: 21px;
  letter-spacing: 0.05em;
  top: 0;
  left: 40%;
  z-index: 100;
}
.about_wrap {
  animation: floating-x 7.2s ease-in-out infinite alternate-reverse;
}
.about_wrap img {
  animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
}
@keyframes floating-x {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(5%);
  }
}
@keyframes floating-y {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(10%);
  }
}
.about_img_00 {
  position: absolute;
  height: 243px;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
}
.about_img_01 {
  position: absolute;
  height: 92px;
  top: 35px;
  left: 40px;
}
.about_img_02 {
  position: absolute;
  height: 74px;
  top: -50px;
  left: 130px;
}
.about_img_03 {
  position: absolute;
  height: 112px;
  top: -120px;
  right: 50px;
}
.about_img_04 {
  position: absolute;
  height: 43px;
  top: 30px;
  left: 230px;
}
.about_img_05 {
  position: absolute;
  height: 26px;
  top: 10px;
  right: 50px;
}
.about_img_06 {
  position: absolute;
  height: 74px;
  top: 40px;
  right: -40px;
}
/* スキル */
#skill {
  position: relative;
}
.skill_content {
  display: flex;
  justify-content: center;
  gap: 150px;
}
.skill_left img,
.skill_right img {
  width: 160px;
  height: 160px;
  align-items: center;
}
.skill_left,
.skill_right {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 230px;
  align-items: center;
}
/* アバウト_スキル */
.skill_container01 {
  display: flex;
  background-color: #fcfaf5;
  width: 1000px;
  height: 350px;
  border-top-right-radius: 175px;
  border-bottom-right-radius: 175px;
  margin-bottom: 55px;
}
.design_left {
  text-align: left;
}
.design_left img {
  width: 140px;
  height: 140px;
  padding-left: 54px;
  padding-top: 50%;
}
.design_right {
  text-align: left;
}
.design_right img {
  width: 223px;
  padding: 80px 0 28px 56px;
}
.design_right p {
  padding-left: 56px;
  letter-spacing: 0.05em;
}
.skill_container02 {
  display: flex;
  margin-left: auto;
  background-color: #fcfaf5;
  width: 1000px;
  height: 350px;
  border-top-left-radius: 175px;
  border-bottom-left-radius: 175px;
  justify-content: right;
  margin-bottom: 100px;
}
.cording_left {
  text-align: left;
}
.cording_left img {
  width: 263px;
  height: 105px;
  padding: 60px 0 8px;
}
.cording_left p {
  padding-right: 28px;
}
.cording_right {
  text-align: left;
}
.cording_right img {
  width: 164px;
  padding-top: 50%;
  padding-right: 54px;
}
.skill_item {
  font-size: 21px;
  font-weight: normal;
}
.skill_level {
  display: flex;
  gap: 5px;
  font-size: 18px;
  font-weight: normal;
}
/* もっとみるボタン */
.center_btn {
  position: relative;
  text-align: center;
  width: 315px;
}
.center_btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 315px;
  height: 60px;
  transition: 0.3s ease-in-out;
  background: #f7f3e9;
  border-radius: 60px;
  border: 1px solid #c7b299;
  /* ボタンの影 */
  box-shadow: 2px 4px #c7b299;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 140px;
}
.center_btn a:hover {
  transform: translate3d(0.2rem, 0.2rem, 0);
  box-shadow: none;
  opacity: 1;
  transition: all 0.2s;
}
/* .about_btn,
.works_btn {
  position: relative;
  margin-left: auto;
  margin-top: 65px;
  width: 315px;
}
.about_btn a,
.works_btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 315px;
  height: 60px;
  transition: 0.3s ease-in-out;
  background: #f7f3e9;
  border-radius: 60px;
  border: 1px solid #c7b299;

  box-shadow: 2px 4px #c7b299;
}*/
.about_btn img,
.works_btn img {
  width: 16px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.about_btn:hover,
.works_btn:hover {
  transform: translate3d(0.2rem, 0.2rem, 0);
  box-shadow: none;
  opacity: 1;
  transition: all 0.2s;
}
.about_btn:hover a {
  box-shadow: none;
}
.about_btn img:hover,
.works_btn img:hover {
  left: 200px;
}
*/
/* インポータント */
.important_content01 {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 12% 0 13%;
}
.important_conteiner {
  position: relative;
  display: flex;
}
.important_title01 {
  color: #fcfaf5;
  font-size: 36px;
  font-weight: bold;
  padding: 20px;
  z-index: 2;
}
.important_title02 {
  font-weight: bold;
  font-size: 21px;
  padding-left: 15px;
  padding-top: 35px;
  z-index: 2;
}
.important_item {
  position: absolute;
  width: 7%;
  z-index: 1;
}
.important_line {
  position: absolute;
  width: 57%;
  padding-left: 30px;
  top: 100px;
}
.important_text {
  width: 675px;
  letter-spacing: 0.05em;
  padding: 35px 0 0 40px;
}
.important_right01,
.important_left02 {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.important_decoration {
  width: 100%;
  bottom: -20px;
  position: absolute;
}
.important_content02 {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 13% 0 12%;
}
.important_content03 {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 12% 0 13%;
}
.important_list {
  font-size: 200px;
  font-family: futura-pt, sans-serif;
  font-weight: bold;
  color: #f3ecd8;
  margin-top: 40px;
}
/* ワークス */
.works_dotline {
  position: relative;
  top: 50px;
}
#works {
  position: relative;
}
.works_title {
  display: flex;
  align-items: left;
  position: relative;
  padding: 20px auto;
  top: 30px;
}
.works_title img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 150px;
}
.works_title p {
  font-size: 21px;
  position: absolute;
  left: 180px;
}
.web_slider {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 75px auto;
}
.web_slider_item {
  background-color: #f3ecd8; /* 背景色指定 */
  width: 350px;
  height: 250px;
  border-radius: 20px;
  margin-right: 12px;
  margin-left: 13px;
  text-align: center;
}
.web_slider_item img {
  height: 80%;
  width: auto;
  margin: 0 auto;
  padding-top: 7%;
}
.graphic_slider {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 75px auto;
}
.graphic_slider_item {
  background-color: #f3ecd8; /* 背景色指定 */
  width: 350px;
  height: 250px;
  border-radius: 20px;
  margin-right: 12px;
  margin-left: 13px;
}
.graphic_slider_item img {
  height: 90%;
  width: auto;
  margin: auto;
  padding-top: 4%;
}
/* Read More */
.web_slider_item,
.graphic_slider_item {
  position: relative;
}
.web_slider_item::before,
.web_slider_item::after,
.graphic_slider_item::before,
.graphic_slider_item::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
  opacity: 0;
  position: absolute;
}
.web_slider_item::before,
.graphic_slider_item::before {
  background: rgba(243, 236, 216, 0.6);
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.web_slider_item::after,
.graphic_slider_item::after {
  color: #605855;
  content: "Read More";
  font-family: ta-oonishi, sans-serif;
  font-size: 65px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
}
.web_slider_item:hover::before,
.web_slider_item:hover::after,
.graphic_slider_item:hover::before,
.graphic_slider_item:hover::after {
  opacity: 1;
}
/* 絞り込み */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 122px;
}
.search_item {
  display: inline-block;
  /*背景の大きさ */
  padding: 23px;
  cursor: pointer;
}
.search_item.is-active {
  background-image: url("../SVG/search_item.svg");
  background-position: center; /* 中央に配置 */
  background-repeat: no-repeat; /* 繰り返しを防止 */
  background-size: contain;
}
.is-hide {
  display: none;
}
.list {
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
  margin: 0 auto;
}
.list_item {
  width: 47%;
  aspect-ratio: 3/2;
}
.list_item div {
  background-color: #f3ecd8; /* 背景色指定 */
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.list_item img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
/* ページネーション */
.pagination {
  display: flex;
  align-items: center;
}
.page-item.number {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.page-item.next {
  width: 90px;
  height: 35px;
  border-radius: 50%;
}
.page-item.number,
.page-item.next {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: #e5d5cc;
  border: solid 1px #705d53;
  font-weight: bold;
  transition: all 0.15s linear;
}

.page-item.first a,
.page-item.prev a,
.page-item.last a {
  display: none;
}
/* ワークス詳細ページ */
.works_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
}
.works_left {
  width: 59%;
  padding-left: 11%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* モーダルウィンドウ */
.modal_content {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(252, 250, 245, 0.6);
  z-index: 200;
}
/* 閉じるのアイコン*/
.open_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 214px;
  height: 47px;
  background-image: url("../SVG/mordal_before.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.open_btn p {
  position: absolute;
}
.open_btn img {
  width: 214px;
}
.close_btn {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  width: 1em;
  height: 0.1em;
  background-color: #fcfaf5;
  border-radius: 0.1em;
  position: relative;
  transform: rotate(45deg);
  z-index: 200;
}
.close_btn::before {
  content: "";
  position: absolute;
  display: block;
  top: 70px;
  right: 70px;
  width: 52px;
  height: auto;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}
.modal_img {
  padding: 3%;
  display: flex;
  justify-content: center;
  margin: 10% auto;
  width: 80%;
}
.works_right {
  width: 44%;
  padding-right: 13%;
}
.works_right p {
  width: 431px;
  font-size: 14px;
  letter-spacing: 0.05em;
  padding-bottom: 15px;
}
/*=== 9-1-2 丸が動いてスクロールを促す ====*/
/*スクロールダウン全体の場所*/
.scrolldown2 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  bottom: 10px;
  left: 50%;
}
/*Scrollテキストの描写*/
.scrolldown2 span {
  /*描画位置*/
  position: absolute;
  left: 10px;
  bottom: 10px;
  /*テキストの形状*/
  color: #705d53;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  /*縦書き設定*/
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
/* 丸の描写 */
.scrolldown2:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: -4px;
  /*丸の形状*/
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #705d53;
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
  animation: circlemove 1.6s ease-in-out infinite,
    cirlemovehide 1.6s ease-out infinite;
}
/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove {
  0% {
    bottom: 45px;
  }
  100% {
    bottom: -5px;
  }
}

/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
/* 線の描写 */
.scrolldown2:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: 0;
  /*線の形状*/
  width: 2px;
  height: 50px;
  background: #705d53;
}
/* コンタクト */
#contact {
  position: relative;
}
.contact_text {
  text-align: center;
}
.contact_decoration {
  bottom: 0;
}
/* コンタクトフォーム */
.contact_form p {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.1em;
}
.contact_announce {
  padding-bottom: 70px;
}
form {
  max-width: 750px;
  margin: 0 auto;
}
.form_item {
  border-radius: 10px;
  padding-bottom: 45px;
}
label {
  margin-bottom: 10px;
  display: block;
}
.label {
  display: flex;
  font-size: 14px;
  letter-spacing: 0.1em;
  gap: 5px;
}
input[type="text"],
input[type="email"] {
  height: 50px;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 20px 0 20px 25px;
  box-sizing: border-box;
  background: #fcfaf5;
}
::placeholder {
  font-size: 16px;
  color: #afafad;
  font-family: zen-maru-gothic, sans-serif;
}
/* サンクスページ */
.thanks_contents {
  max-width: 685px;
  text-align: center;
  position: relative;
}
.thanks01 {
  font-family: ta-oonishi, sans-serif;
  font-size: 100px;
  padding-bottom: 60px;
}
.thanks02 {
  font-size: 16px;
  letter-spacing: 0.05em;
}
.thanks_img01 {
  width: 196px;
  position: absolute;
  bottom: -150px;
  left: 200px;
}
.thanks_img02 {
  width: 417px;
  position: absolute;
  top: -70px;
  right: -110px;
}
/* フッター */
footer {
  position: relative;
}
.footer_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 3% 3% 0 7%;
}
.footer_menu {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.footer_item {
  display: inline-block;
  /*背景の大きさ */
  padding: 20px;
  cursor: pointer;
  position: relative;
}

.footer_item a {
  line-height: 56px;
  width: 53px;
  display: block;
  text-align: center;
}
.footer_item.is-active {
  background-image: url("../SVG/footer_item.svg");
  background-position: center; /* 中央に配置 */
  background-repeat: no-repeat; /* 繰り返しを防止 */
  background-size: contain;
  color: #fcfaf5;
}
.footer_item::after {
  background-image: url("../SVG/footer_item_hover.svg");
  background-position: center; /* 中央に配置 */
  background-repeat: no-repeat; /* 繰り返しを防止 */
  background-size: contain;
  color: #fcfaf5;
  transition: 1s;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}
.footer_item:hover a {
  color: #fcfaf5;
  position: relative;
  z-index: 100;
}
.footer_item:hover::after {
  opacity: 1;
}
.footer_logo {
  width: 174px;
  cursor: pointer;
}
.footer_outer {
  font-size: 16px;
  position: absolute;
  bottom: 15%;
  left: 50%;
}
.pagetop {
  position: fixed;
  bottom: 200px;
  right: 2%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  filter: invert(100%);
  mix-blend-mode: exclusion;
}
.pagetop::before {
  content: "";
  position: absolute;
  top: 125px;
  right: 2px;
  width: 1px;
  height: 20px;
  background: #705d53;
  transform: skewX(-40deg);
}
.pagetop::after {
  content: "";
  position: absolute;
  top: 85px;
  right: 10px;
  width: 1px;
  height: 60px;
  background: #705d53;
}
@media screen and (max-width: 767px) {
  .pc_nav,
  .pc_btn {
    display: none;
  }
}
