@charset "utf-8";
/* ローディング */
.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #f3ecd8;
  z-index: 200;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.loading.is-active {
  opacity: 0;
  visibility: hidden;
}
.loading_text {
  font-size: 92px;
  font-weight: 700;
  color: rgb(113, 94, 84);
  /* display: none; */
  z-index: 300;
  opacity: 1;
}
.loading-text.is-active {
  opacity: 0;
  visibility: hidden;
}
@keyframes bound-anim {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(24px);
  }
}
/*** 全文字にアニメーションを適用 ***/
.loading_text span {
  display: inline-block; /*横並びにしつつアニメーションを適用*/
  animation: 0.5s bound-anim ease-in infinite alternate;
}
/* フェードイン */
/* .fadeIn_left {
  opacity: 0;
  transform: translate(-50%, 0);
  transition: 2s;
}
.fadeIn_left.is-show {
  transform: translate(0, 0);
  opacity: 1;
} */
/* ヘッダー */
.first_header {
  height: 100vh;
  position: relative;
}
.second_header {
  height: 10vh;
  position: relative;
}
.first_view {
  position: relative;
  max-width: 850px;
  width: 80%;
  height: 500px;
  z-index: 1;
  margin-left: auto;
}
.first_view01 {
  width: 100%;
}
.sp_first_view01 {
  display: none;
}
.first_view02 {
  position: absolute;
  top: 25%;
  right: 7%;
  width: 45%;
  /* 手書き風 */
  /* fill: none;
  stroke: #000;
  stroke-width: 1;
  stroke-miterlimit: 50;
  stroke-dasharray: 1989;
  stroke-dashoffset: 1989;
  animation: strokeAnimation 5s linear 0s infinite; */
}
/* @keyframes strokeAnimation {
  0% {
    stroke-dashoffset: 1989;
  }
  80% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
} */
.first_view03 {
  position: absolute;
  top: 30%;
  left: 0;
  width: 17%;
}
.header_container {
  position: absolute;
  z-index: 100;
}
.header_box01 {
  background-color: #fcfaf5;
  text-align: start;
  width: 804px;
  height: 77px;
  border-radius: 0 20px 20px 0;
  margin-bottom: 23px;
}
.header_box02 {
  background-color: #fcfaf5;
  width: 864px;
  height: 77px;
  border-radius: 0 20px 20px 0;
}
.header_box01 p,
.header_box02 p {
  font-family: ta-oonishi, sans-serif;
  font-size: 51px;
  letter-spacing: 0.1em;
  padding-left: 70px;
  padding-top: 12px;
}
.header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5% 0 5%;
  position: absolute;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 100;
  padding-top: 50px;
}
.header_logo,
.footer_logo {
  width: 140px;
  cursor: pointer;
}
/* 固定ヘッダー */
.is-fixed {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 100;
  top: -20px;
  left: 0;
  width: 100%;
  height: 100px;
  animation: anime 0.7s forwards;
}
.is-fixed.active {
  background-color: rgba(199, 178, 153, 0.2);
  position: fixed;
  animation: headerFadeIn 0.5s;
  top: -30px;
}
@keyframes headerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* メニューボタン */
.menu_btn {
  cursor: pointer;
  z-index: 110;
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: center;
}
.menu_btn p {
  font-size: 14px;
}
.menu_btn div {
  width: 30px;
}
.menu_btn span {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #705d53;
  position: relative;
  top: 0;
  transition: 0.3s;
}
.menu_btn span::before,
.menu_btn span::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #705d53;
  position: absolute;
  transition: 0.3s;
}
.menu_btn span::before {
  left: 13px;
}
.menu_btn span::after {
  left: 26px;
}
.menu_btn.open span,
.menu_btn.open span::before {
  background-color: transparent;
}
/* メニューの見た目 */
.menu_nav {
  position: absolute;
  top: -50px;
  left: 0;
  width: 100%;
  height: 115vh;
  background-color: #f3ecd8;
}
.menu_nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  height: 100%;
}
.menu_nav ul li {
  font-size: 40px;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
}
.menu_nav {
  display: none;
}
/*=== 9-1-2 丸が動いてスクロールを促す ====*/
/*スクロールダウン全体の場所*/
.scrolldown1 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  bottom: 10px;
  right: 2%;
  z-index: 90;
}
/*Scrollテキストの描写*/
.scrolldown1 span {
  /*描画位置*/
  position: absolute;
  left: -7px;
  bottom: 55px;
  /*テキストの形状*/
  color: #705d53;
  font-family: futura-pt, sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  /*縦書き設定*/
  /* -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl; */
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
/* 丸の描写 */
.scrolldown1:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: -2px;
  /*丸の形状*/
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #705d53;
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
  animation: circlemove 1.6s ease-in-out infinite,
    cirlemovehide 1.6s ease-out infinite;
}
/* 線の描写 */
.scrolldown1:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: -12px;
  left: 0;
  /*線の形状*/
  width: 1px;
  height: 50px;
  background: #705d53;
}
/* アバウト */
#about {
  background: #f3ecd8;
  margin: 0 auto;
  margin-top: 35px;
  width: 100%;
  position: relative;
  padding-top: 30px;
  padding-bottom: 10px;
}
.about_line01 {
  position: absolute;
  top: -20px;
}
/* タイトル */
.title {
  text-align: center;
  margin: 127px 0 45px;
}
.title h2 {
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-size: 35px;
  padding-bottom: 7px;
}
.title p {
  padding-bottom: 5px;
}
/* 飾り文字 */
.about_decoration,
.skill_decoration,
.works_decoration,
.contact_decoration {
  position: absolute;
  width: 8%;
  left: 10px;
}
.about_decoration {
  bottom: 95px;
}
.about_content {
  display: flex;
  margin-bottom: 130px;
}
.about_line02 {
  position: absolute;
  bottom: -20px;
}
/* アバウトボタン ワークスボタン */
.about_btn,
.works_btn {
  position: relative;
  margin-left: auto;
  margin-top: 65px;
  width: 315px;
}
.about_btn a,
.works_btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 315px;
  height: 60px;
  transition: 0.3s ease-in-out;
  background: #f7f3e9;
  border-radius: 60px;
  border: 1px solid #c7b299;
  /* ボタンの影 */
  box-shadow: 2px 4px #c7b299;
}
.about_btn img,
.works_btn img {
  width: 16px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.about_btn:hover,
.works_btn:hover {
  transform: translate3d(0.2rem, 0.2rem, 0);
  box-shadow: none;
  opacity: 1;
  transition: all 0.2s;
}
.about_btn:hover a,
.works_btn:hover a {
  box-shadow: none;
}
.about_btn img:hover,
.works_btn img:hover {
  left: 200px;
}
.about_left01 {
  width: 57%;
  padding-left: 14%;
}
.about_left01 p {
  line-height: 2.25;
  /* letter-spacing: 0.05em; */
  text-align: start;
}
.about_left02 {
  width: 42%;
  padding: 80px 0 0 13%;
}
.about_left02 p {
  font-size: 14px;
  line-height: 1.85;
  margin-bottom: 5px;
  text-align: justify;
}
.dot_line {
  /* background-image: linear-gradient(to right, #705d53 2px, transparent 2px); */
  background-image: radial-gradient(circle, #705d53 30%, transparent 31%);
  background-size: 12px 2px;
  background-repeat: repeat-x;
  background-position: left bottom 3px;
  padding-bottom: 15px;
}
.about_right01 {
  /* position: relative; */
  width: 34%;
  padding: 0 7% 0 5%;
}
.about_right02 {
  position: relative;
  width: 33%;
  padding: 25% 10% 0 2%;
}
.about_right02 p {
  position: absolute;
  font-family: ta-oonishi, sans-serif;
  font-size: 21px;
  /* letter-spacing: 0.05em; */
  top: 75px;
  left: 40%;
  z-index: 50;
}
.about_img_07 {
  position: relative;
  height: 243px;
  left: 60%;
  bottom: 25px;
  transform: translateX(-50%);
}
.about_animation01,
.about_animation02 {
  animation: floating-x 7.2s ease-in-out infinite alternate-reverse;
}
.about_animation01 img,
.about_animation02 img {
  animation: floating-y 1.8s ease-in-out infinite alternate-reverse;
}
@keyframes floating-x {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(5%);
  }
}
@keyframes floating-y {
  0% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(10%);
  }
}
.about_img_00 {
  position: relative;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 15%;
}
.about_animation01 {
  position: absolute;
  top: 35%;
  width: 25%;
}
.about_animation02 {
  position: absolute;
  top: 35%;
  width: 75%;
}
.about_img_01 {
  position: absolute;
  width: 25%;
  top: 35px;
  left: 2%;
}
.about_img_02 {
  position: absolute;
  width: 20%;
  top: -50px;
  left: 25%;
}
.about_img_03 {
  position: absolute;
  width: 25%;
  top: -120px;
  right: 5%;
}
.about_img_04 {
  position: absolute;
  width: 15%;
  top: 30px;
  left: 50%;
}
.about_img_05 {
  position: absolute;
  width: 10%;
  top: 10px;
  right: 5%;
}
.about_img_06 {
  position: absolute;
  width: 20%;
  top: 40px;
  right: -15%;
}
/* スキル */
#skill {
  position: relative;
}
.skill_decoration {
  top: 200px;
}
.skill_content {
  display: flex;
  justify-content: center;
  gap: 150px;
}
.skill_left img {
  width: 135px;
  height: 160px;
  align-items: center;
}
.skill_right img {
  width: 160px;
  height: 160px;
  align-items: center;
}
.skill_left,
.skill_right {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 230px;
  align-items: center;
}
.design_right p,
.cording_left p {
  line-height: 1.75;
  /* letter-spacing: 0.05em; */
}
/* アバウト_スキル */
.skill_container01 {
  display: flex;
  background-color: #fcfaf5;
  max-width: 1000px;
  height: 350px;
  border-top-right-radius: 175px;
  border-bottom-right-radius: 175px;
  margin: 95px 0 55px;
}
.design_left {
  text-align: left;
}
.design_left img {
  width: 140px;
  height: 140px;
  padding-left: 54px;
  padding-top: 50%;
}
.design_right {
  text-align: left;
}
.design_right img {
  width: 223px;
  padding: 70px 0 20px 55px;
}
.design_right p {
  padding-left: 56px;
  /* letter-spacing: 0.05em; */
}
.skill_container02 {
  display: flex;
  margin-left: auto;
  background-color: #fcfaf5;
  width: 1000px;
  height: 350px;
  border-top-left-radius: 175px;
  border-bottom-left-radius: 175px;
  justify-content: right;
  margin-bottom: 115px;
  max-width: 1000px;
}
.cording_left {
  text-align: left;
}
.cording_left img {
  width: 263px;
  padding: 70px 0 20px;
}
.cording_left p {
  padding-right: 28px;
}
.cording_right {
  text-align: left;
}
.cording_right img {
  width: 164px;
  padding-top: 50%;
  padding-right: 80px;
}
.skill_item {
  font-size: 21px;
  font-weight: normal;
}
.skill_level {
  display: flex;
  gap: 5px;
  font-size: 18px;
  font-weight: normal;
}
/* もっとみるボタン */
.center_btn,
.submit_btn {
  position: relative;
  margin: 0 auto;
  margin-top: 70px;
  margin-bottom: 140px;
  width: 315px;
}
.center_btn a,
.submit_btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 315px;
  height: 60px;
  transition: 0.3s ease-in-out;
  background: #f7f3e9;
  border-radius: 60px;
  border: 1px solid #c7b299;
  /* ボタンの影 */
  box-shadow: 2px 4px #c7b299;
}
.center_btn img,
.submit_btn img {
  width: 16px;
  height: 18px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.center_btn:hover,
.submit_btn:hover {
  transform: translate3d(0.2rem, 0.2rem, 0);
  box-shadow: none;
  opacity: 1;
  transition: all 0.2s;
}
.center_btn:hover a,
.submit_btn:hover span {
  box-shadow: none;
}
.center_btn img:hover,
.submit_btn img:hover {
  left: 200px;
}
/* インポータント */
.important_content01,
.important_content03 {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 12% 0 11%;
}
.important_conteiner {
  position: relative;
  display: flex;
}
.important_title01 {
  color: #fcfaf5;
  font-size: 36px;
  font-weight: bold;
  padding: 20px;
  z-index: 2;
}
.important_title02 {
  font-weight: bold;
  font-size: 21px;
  padding-left: 15px;
  padding-top: 35px;
  z-index: 2;
}
.important_item {
  position: absolute;
  width: 76px;
  z-index: 1;
}
.important_line {
  position: absolute;
  width: 90%;
  padding-left: 30px;
  top: 73px;
}
.important_text {
  width: 90%;
  line-height: 1.75;
  /* letter-spacing: 0.05em; */
  padding: 15px 0 0 30px;
}
.important_right01,
.important_left02 {
  max-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 100;
}
.important_decoration {
  width: 100%;
}
.important_content02 {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 12% 20px 11%;
}
.important_list {
  font-size: 200px;
  font-family: futura-pt, sans-serif;
  font-weight: 700;
  color: #f3ecd8;
  margin-top: 25px;
}
/* ワークス */
.works_dotline {
  position: relative;
  top: 65px;
}
#works {
  position: relative;
}
.works_decoration {
  bottom: -60px;
}
.works_title {
  display: flex;
  align-items: left;
  position: relative;
  padding: 20px auto;
  top: 30px;
}
.works_title img {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 150px;
}
.works_title p {
  font-size: 21px;
  position: absolute;
  left: 180px;
}
.web_slider,
.graphic_slider {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 90px auto;
}
.web_slider_item,
.graphic_slider_item {
  background-color: #f3ecd8; /* 背景色指定 */
  max-width: 350px;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  margin-right: 12px;
  margin-left: 13px;
  text-align: center;
}
.web_slider_item img,
.graphic_slider_item img {
  object-fit: contain;
  height: 80%;
  width: auto;
  margin: 0 auto;
  padding-top: 9%;
}
/* Read More */
.web_slider_item,
.graphic_slider_item,
.list_item div {
  position: relative;
}
.web_slider_item a::before,
.web_slider_item a::after,
.graphic_slider_item a:before,
.graphic_slider_item a::after,
.list_item div::before,
.list_item div::after {
  content: "";
  display: block;
  top: 0;
  left: 0;
  transition: 0.3s cubic-bezier(0.45, 0, 0.55, 1);
  opacity: 0;
  position: absolute;
}
.web_slider_item a::before,
.graphic_slider_item a::before,
.list_item div::before {
  background: rgba(243, 236, 216, 0.6);
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.web_slider_item a::after,
.graphic_slider_item a::after,
.list_item div::after {
  color: #605855;
  content: "Read More";
  font-family: ta-oonishi, sans-serif;
  font-size: 65px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
  pointer-events: none;
}
.web_slider_item a:hover::before,
.web_slider_item a:hover::after,
.graphic_slider_item a:hover::before,
.graphic_slider_item a:hover::after,
.list_item div:hover::before,
.list_item div:hover::after {
  opacity: 1;
}
/* 絞り込み */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 122px;
}
.search_item {
  display: inline-block;
  /*背景の大きさ */
  padding: 23px;
  cursor: pointer;
  position: relative;
}
.search_item.is-active {
  background-image: url("../SVG/search_item.svg");
  background-position: center; /* 中央に配置 */
  background-repeat: no-repeat; /* 繰り返しを防止 */
  background-size: contain;
}
.search_item::after {
  background-image: url("../SVG/search_item_hover.svg");
  background-position: center; /* 中央に配置 */
  background-repeat: no-repeat; /* 繰り返しを防止 */
  background-size: contain;
  /* transition: 1s; */
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}
.search_item:hover a {
  position: relative;
}
.search_item:hover::after {
  opacity: 1;
}
.is-hide {
  display: none;
}
.list {
  max-width: 1050px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
  margin: 0 auto;
}
.list_item {
  width: 47%;
  aspect-ratio: 3/2;
}
.list_item div {
  background-color: #f3ecd8; /* 背景色指定 */
  max-width: 495px;
  height: 330px;
  border-radius: 20px;
  text-align: center;
}
.list_item img {
  object-fit: contain;
  height: 80%;
  width: auto;
  margin: 0 auto;
  padding: 6% 0 2%;
}
.works_text01 {
  font-size: 18px;
  padding: 30px 0 12px 25px;
}
.works_text02 {
  font-size: 14px;
  padding-left: 25px;
}
/* ページネーション */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 100px 0 85px;
}
.page-item.number {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.page-item.next {
  width: 90px;
  height: 35px;
  border-radius: 18px;
}
.page-item.number,
.page-item.next {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  border: solid 1px #705d53;
  font-weight: bold;
  transition: all 0.15s linear;
}
.page-item.first a,
.page-item.prev a,
.page-item.last a {
  display: none;
}
.navi-active {
  background-color: #e5d5cc;
}
/* ワークス詳細ページ */
.works_detail {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  vertical-align: top;
  gap: 4%;
}
.works_left {
  width: 52%;
  padding: 0 0 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works_left img {
  max-width: 481px;
}
/* モーダルウィンドウ */
.modal_content {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(252, 250, 245, 0.8);
  z-index: 200;
}
.modal_img {
  padding: 3%;
  display: flex;
  justify-content: center;
  margin: 10% auto;
  width: 75%;
}
.modal_img img {
  width: 75%;
}
/* モーダルアイコン*/
.open_btn_01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 214px;
  height: 47px;
  background-image: url("../SVG/mordal_before.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 45px;
  cursor: pointer;
}
.open_btn_01 p {
  position: absolute;
}
.open_btn_02 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 45px;
  gap: 35px;
  max-width: 84%;
}
.open_btn_02 div {
  background-image: url("../SVG/mordal_before.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 214px;
  height: 47px;

  cursor: pointer;
}
.pc_open_btn {
  padding-left: 40%;
  padding-top: 7%;
}
.sp_open_btn {
  padding-left: 32%;
  padding-top: 7%;
}
/* 閉じるのアイコン*/
.close_btn {
  display: block;
  position: relative;
  color: transparent;
  transition: all 1s;
  /* アニメーション設定 */
  top: 14%;
}
.close_btn::before,
.close_btn::after {
  content: "";
  position: absolute;
  top: 14%;
  right: 23%;
  width: 2px;
  height: 25px;
  background: #705d53;
}
.close_btn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.close_btn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.works_right {
  width: 44%;
}
.works_right p {
  max-width: 431px;
  font-size: 14px;
  /* letter-spacing: 0.05em; */
  line-height: 1.75;
  padding: 15px 0 15px;
}
/*=== 9-1-2 丸が動いてスクロールを促す ====*/
/*スクロールダウン全体の場所*/
.scrolldown2 {
  /*描画位置※位置は適宜調整してください*/
  position: absolute;
  bottom: 10px;
  left: 50%;
}
/*Scrollテキストの描写*/
.scrolldown2 span {
  /*描画位置*/
  position: absolute;
  left: -18px;
  bottom: 48px;
  /*テキストの形状*/
  color: #705d53;
  font-family: futura-pt, sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  /*縦書き設定*/
  /* -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl; */
}
/* 丸の描写 */
.scrolldown2:before {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: 0;
  left: -2px;
  /*丸の形状*/
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #705d53;
  /*丸の動き1.6秒かけて透過し、永遠にループ*/
  animation: circlemove 1.6s ease-in-out infinite,
    cirlemovehide 1.6s ease-out infinite;
}
/*下からの距離が変化して丸の全体が上から下に動く*/
@keyframes circlemove {
  0% {
    bottom: 33px;
  }
  100% {
    bottom: -12px;
  }
}
/*上から下にかけて丸が透過→不透明→透過する*/
@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}
/* 線の描写 */
.scrolldown2:after {
  content: "";
  /*描画位置*/
  position: absolute;
  bottom: -12px;
  left: 0;
  /*線の形状*/
  width: 1px;
  height: 50px;
  background: #705d53;
}
/* コンタクト */
#contact {
  position: relative;
  padding-top: 25px;
}
.contact_text {
  text-align: center;
  line-height: 1.75;
}
.contact_decoration {
  bottom: -25px;
}
/* コンタクトフォーム */
.contact_form p {
  text-align: center;
  font-size: 16px;
  line-height: 1.75;
}
.contact_announce {
  padding-bottom: 70px;
}
form {
  max-width: 750px;
  width: 55%;
  margin: 0 auto;
}
.form_item {
  border-radius: 10px;
  padding-bottom: 45px;
}
label {
  font-size: 14px;
  /* letter-spacing: 0.1em; */
  margin-bottom: 10px;
  display: block;
}
input[type="text"],
input[type="email"] {
  height: 50px;
}
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 20px 0 20px 25px;
  box-sizing: border-box;
  background: #fcfaf5;
  font-size: 16px;
  /* letter-spacing: 0.05em; */
}
::placeholder {
  font-size: 16px;
  color: #afafad;
  font-family: zen-maru-gothic, sans-serif;
}
.submit_btn {
  display: flex;
  background-color: transparent;
  border: transparent;
}
.submit_btn span {
  font-family: zen-maru-gothic, sans-serif;
  color: #705d53;
  font-size: 16px;
}
/* サンクスページ */
.thanks_contents {
  text-align: center;
  text-align: center;
  padding: 25% 0 15%;
  position: relative;
}
.thanks01 {
  font-family: ta-oonishi, sans-serif;
  font-size: 100px;
  position: absolute;
  z-index: 50;
  top: 15%;
  left: 25%;
}
.thanks02 {
  font-size: 16px;
  /* letter-spacing: 0.05em; */
  position: absolute;
  z-index: 50;
  left: 26%;
  bottom: 50%;
}
.thanks_img01 {
  width: 196px;
  position: absolute;
  bottom: 17%;
  left: 25%;
}
.thanks_img02 {
  width: 417px;
  position: absolute;
  right: 12%;
  top: -5%;
}
/* フッター */
footer {
  position: relative;
  padding-bottom: 100px;
}
.footer_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  padding: 3% 3% 0 7%;
}
footer > div > img {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.footer_menu {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.footer_item {
  display: inline-block;
  /*背景の大きさ */
  padding: 10px;
  cursor: pointer;
  position: relative;
}
.footer_item a {
  line-height: 56px;
  width: 53px;
  display: block;
  text-align: center;
}
.footer_item.is-active {
  background-image: url("../SVG/footer_item.svg");
  background-position: center; /* 中央に配置 */
  background-repeat: no-repeat; /* 繰り返しを防止 */
  background-size: contain;
  color: #fcfaf5;
}
.footer_item::after {
  background-image: url("../SVG/footer_item_hover.svg");
  background-position: center; /* 中央に配置 */
  background-repeat: no-repeat; /* 繰り返しを防止 */
  background-size: contain;
  color: #fcfaf5;
  transition: 1s;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
}
.footer_item:hover a {
  color: #fcfaf5;
  position: relative;
  z-index: 100;
}
.footer_item:hover::after {
  opacity: 1;
}
.footer_outer {
  position: absolute;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
}
.pagetop {
  position: fixed;
  bottom: 200px;
  right: 2%;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  filter: invert(100%);
  mix-blend-mode: exclusion;
  opacity: 0;
  transition: 0.5s;
}
.pagetop.active {
  opacity: 1;
}
.pagetop::before {
  content: "";
  position: absolute;
  top: 125px;
  right: 5px;
  width: 1px;
  height: 20px;
  background: #705d53;
  transform: skewX(-25deg);
  border-radius: 5px;
}
.pagetop::after {
  content: "";
  position: absolute;
  top: 85px;
  right: 10px;
  width: 1px;
  height: 60px;
  background: #705d53;
  border-radius: 5px;
}
/* パララックス */
.area {
  /* width: 100%;
  height: 100%; */
  position: relative;
  overflow: hidden;
  /* top: 0;
  left: 0;
  z-index: -1; */
}
.circle {
  position: absolute;
  z-index: -1;
}
.circles01 {
  max-width: 45%;
  top: -5%;
  left: -25px;
}
.circles02 {
  max-width: 45%;
  top: 15%;
  right: -20px;
}
.circles03 {
  max-width: 45%;
  top: 30%;
  left: -20px;
}
.circles04 {
  max-width: 45%;
  top: 45%;
  right: -25px;
}
.circles05 {
  max-width: 45%;
  top: 60%;
  left: -25px;
}
.circles06 {
  max-width: 45%;
  top: 75%;
  right: -55px;
}
.sp_br {
  display: none;
}
@media screen and (max-width: 1100px) {
  .header_container {
    bottom: 0;
  }
  .header_box01 {
    width: 100%;
    height: 50px;
    border-radius: 0 5px 5px 0;
    margin: -25% 0 8px;
  }
  .header_box02 {
    width: 110%;
    height: 50px;
    border-radius: 0 5px 5px 0;
  }
  .header_box01 p,
  .header_box02 p {
    font-size: 35px;
    /* letter-spacing: 0; */
    padding-left: 25px;
    padding-top: 5px;
  }
  /* ワークス */
  .list {
    display: block;
    max-width: 84%;
    gap: 0;
  }
  .list_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .list_item img {
    padding: 6% 0 2% 1%;
  }
  .works_left {
    padding: 0 0 19%;
  }
  .works_right {
    padding-right: 5%;
  }
  /* モーダルボタン */
  .close_btn {
    top: 9%;
  }
  /* サンクスページ */
  .thanks01 {
    bottom: 30%;
  }
  .thanks02 {
    bottom: 48%;
  }
  .thanks_img01 {
    bottom: 8%;
  }
  .thanks_img02 {
    top: -10%;
  }
}
@media screen and (max-width: 767px) {
  .sp_br {
    display: block;
  }
  .pc_br,
  .pc_nav,
  .pc_btn {
    display: none;
  }
  .loading_text {
    font-size: 50px;
  }
  .first_view {
    position: relative;
    max-width: 850px;
    width: 80%;
    height: 500px;
    z-index: 1;
    margin-left: auto;
  }
  .first_view01 {
    display: none;
  }
  .sp_first_view01 {
    display: block;
    width: 100%;
    padding-top: 30%;
    position: relative;
  }
  .first_view02 {
    top: 45%;
    right: 15%;
  }
  .first_view03 {
    top: 40%;
  }
  .header_container {
    bottom: 20%;
  }
  .header_box01 {
    width: 100%;
    height: 28px;
    border-radius: 0 5px 5px 0;
    margin: -25% 0 5%;
  }
  .header_box02 {
    width: 110%;
    height: 28px;
    border-radius: 0 5px 5px 0;
  }
  .header_box01 p,
  .header_box02 p {
    font-size: 20px;
    /* letter-spacing: 0; */
    padding-left: 25px;
    padding-top: 5px;
  }
  .scrolldown1 {
    bottom: 13%;
    right: 4%;
  }
  /* アバウト */
  .about_content {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 130px;
  }
  .about_line01 {
    top: -10px;
  }
  .about_wrap01 {
    position: absolute;
    width: 100%;
    top: 65px;
    left: -5%;
  }
  .about_wrap02 {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: -5%;
  }
  .about_left01 {
    width: 84%;
    padding: 45% 0 0 0;
  }
  .about_left01 p {
    font-size: 14px;
    padding-bottom: 65px;
    text-align: center;
  }
  .about_left02 {
    width: 84%;
    padding: 5% 0 0 0;
  }
  .about_right01 {
    position: relative;
    width: 60%;
    padding: 100px 0px 15%;
  }
  .about_right02 {
    width: 65%;
    padding-bottom: 50%;
  }
  .about_right02 p {
    font-size: 16px;
    top: -10px;
    left: 36%;
  }
  .about_img_00 {
    width: 90%;
    padding-top: 35%;
  }
  .about_animation01 {
    top: 10%;
    width: 95%;
  }
  .about_animation02 {
    top: -35%;
    width: 85%;
    z-index: -1;
  }
  .about_img_07 {
    bottom: -40%;
    width: 100%;
    padding-right: 10%;
  }
  .about_btn,
  .works_btn {
    margin: 0 auto;
  }
  .about_line02 {
    bottom: -10px;
  }
  .about_decoration,
  .skill_decoration,
  .works_decoration,
  .contact_decoration {
    display: none;
  }
  /* スキル */
  .skill_content {
    flex-direction: column;
    align-items: center;
    gap: 80px;
  }
  .skill_left img {
    padding-bottom: 5%;
  }
  .skill_item {
    font-size: 18px;
  }
  .skill_level {
    gap: 2px;
    font-size: 16px;
  }
  /* アバウト_スキル */
  .skill_container01,
  .skill_container02 {
    width: 92%;
    height: 370px;
    border-radius: 20px;
  }
  .skill_container01 {
    margin: 95px auto 55px;
    justify-content: center;
  }
  .skill_container02 {
    margin-right: auto;
    justify-content: center;
  }
  .design_left,
  .cording_right {
    display: none;
  }
  .design_right,
  .cording_left {
    text-align: center;
  }
  .design_right img {
    width: 154px;
    padding-left: 0;
  }
  .design_right p {
    width: 315px;
    font-size: 14px;
    padding-left: 0;
    text-align: justify;
  }
  .cording_left img {
    width: 182px;
  }
  .cording_left p {
    width: 315px;
    font-size: 14px;
    padding-right: 0;
    text-align: justify;
  }
  /* インポータント */
  .important_content01,
  .important_content03 {
    flex-direction: column-reverse;
    padding-top: 50px;
  }
  .important_line {
    width: 85%;
  }
  .important_text {
    width: 84%;
    font-size: 14px;
    text-align: justify;
  }
  .important_right01,
  .important_left02 {
    max-width: 175px;
    position: absolute;
    top: -20px;
    right: 0;
    padding-right: 10%;
  }
  .important_decoration {
    width: 100%;
    bottom: -15px;
    position: absolute;
  }
  .important_content02 {
    flex-direction: column;
    padding-top: 50px;
  }
  .important_list {
    font-size: 125px;
  }
  /* ワークス */
  .works_title {
    margin: 25px 0 0 10px;
  }
  .works_title img {
    left: 7%;
  }
  .works_title p {
    font-size: 16px;
    left: 12%;
  }
  .search {
    padding-bottom: 55px;
  }
  .list_item div {
    width: 315px;
    height: 215px;
    border-radius: 15px;
  }
  .works_text01 {
    font-size: 18px;
    padding: 15px 0 10px 0;
  }
  .works_text02 {
    padding: 0 0 72px 0;
  }
  .list_item div::after {
    font-size: 45px;
  }
  /* ワークス詳細 */
  .works_detail {
    flex-direction: column;
  }
  .works_left {
    width: 100%;
    padding: 0 0 32px;
  }
  .works_right p {
    width: 84%;
  }
  .pc_mockup {
    width: 82%;
  }
  .sp_mockup {
    width: 30%;
  }
  .works_right {
    width: 100%;
    width: 100%;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .works_btn {
    margin: 0 auto;
    padding: 100px 0 100px;
  }
  .dot_line {
    background-image: radial-gradient(circle, #705d53 30%, transparent 31%);
    background-size: 12px 2px;
    background-repeat: repeat-x;
    background-position: left bottom 3px;
    padding-bottom: 15px;
  }
  /* モーダルアイコン*/
  .open_btn_01 p {
    font-size: 14px;
  }
  .open_btn_02 {
    flex-direction: column;
    gap: 18px;
  }
  .pc_open_btn,
  .sp_open_btn {
    font-size: 14px;
    padding-top: 7%;
    padding-left: 0;
    text-align: center;
  }
  /* モーダルボタン */
  /* モーダルボタン */
  .close_btn {
    top: 8%;
  }
  /* コンタクト */
  .contact_text {
    font-size: 14px;
  }
  /* コンタクトフォーム */
  form {
    width: 65%;
  }
  .contact_form p {
    font-size: 14px;
  }
  input[type="text"],
  input[type="email"],
  textarea {
    font-size: 14px;
  }
  /* サンクスページ */
  .thanks_contents {
    padding: 30% 0 45%;
  }
  .thanks01 {
    font-size: 46px;
  }
  .thanks02 {
    font-size: 14px;
    left: 33%;
  }
  .thanks_img01 {
    width: 50%;
    bottom: -2%;
  }
  .thanks_img02 {
    width: 31%;
    top: 3%;
    right: 18%;
  }
  /* フッター */

  .footer_wrap,
  .footer_menu {
    flex-direction: column;
  }
  .footer_logo {
    padding-top: 62px;
  }
  /* スライダー */
  .slick-prev,
  .graphic_slider .slick-next {
    left: 25px;
    z-index: 100;
  }
  .slick-next,
  .graphic_slider .slick-prev {
    right: 25px;
  }
  .web_slider,
  .graphic_slider {
    max-width: 84%;
  }
  .web_slider_item,
  .graphic_slider_item {
    max-width: 315px;
    width: 84%;
    height: 215px;
  }
  .web_slider_item img,
  .graphic_slider_item img {
    padding-top: 5%;
  }
  /* スライダー */
  .web_slider_item::before,
  .web_slider_item::after,
  .graphic_slider_item::before,
  .graphic_slider_item::after,
  .list_item div::before,
  .list_item div::after {
    display: none;
  }
  /* .slick-prev {
    left: 21%;
    z-index: 100;
  }
  .slick-next {
    right: 22%;
    z-index: 110;
  } */
  [dir="rtl"] .slick-next:before,
  [dir="rtl"] .slick-prev:before {
    content: "";
  }
  .web_slider .slick-prev:before,
  .graphic_slider .slick-next:before {
    content: "";
    display: block;
    width: 27px;
    height: 27px;
    border-top: 3px solid #d4c3b0;
    border-left: 3px solid #d4c3b0;
    transform: rotate(-45deg);
  }
  .web_slider .slick-next:before,
  .graphic_slider .slick-prev:before {
    content: "";
    display: block;
    width: 27px;
    height: 27px;
    border-top: 3px solid #d4c3b0;
    border-right: 3px solid #d4c3b0;
    transform: rotate(45deg);
  }
}
